body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    }
    #content {
    background: #fffb09;
    float: left;
    width: 100%;
    height: 470px;
    text-align: center;
    } 
    #Avatar{
        display: block;
        margin: 0 auto;
      }